*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.spl
*.synctex*
*.toc
*.vrb
*.xdy
*.tdo
*.pdf
*.brf
!/zju_thesis/logo/**/*.pdf
!/zju_thesis/figures/**/*.pdf
!/zju_thesis/contents/**/*.pdf
*.fls
~*.doc
